.reports-sidebar {
    width: 250px;    
    background: #fff;
    border-right: 1px solid #ddd;
}

.reports-sidebar-header {
    background: #f2f2f2;    
    position: relative;
    height: 36px;
    border-top: 1px solid #dddddd;
}
.reports-sidebar-header h1 {
    font-size: 20px;
    font-weight: normal;
    color: #5f9ad0;
    text-align: left;
    padding: 5px;
    margin: 0;
}
.reports-sidebar-header i {
    position: absolute;  
    cursor: pointer;  
}
.reports-sidebar-header .refresh-icon {    
    top: 10px;
    right: 35px;
}

.reports-sidebar-header .close-icon {    
    top: 10px;
    right: 9px;
}
 
.reports-sidebar-search {
    border-bottom: 1px solid #ddd;    
}

.reports-sidebar-search input {    
    border:0;
    outline: none;
    padding: 15px 5px;
    font-size: 14px;
}

.reports-sidebar-list {
    overflow: auto;
    height: calc(100%);    
}

.list-col-1 {
    vertical-align: middle;
    position: relative;
    top: 25px;
    width: 30px;
    display: inline-block;
}
.list-col-2 {
    vertical-align: top;
    width: 140px;
    display: inline-block;
    line-height: 26px;
    text-align: left;
}

.list-col-2 > div {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.list-col-3 {
    vertical-align: top;
    width: 60px;
    height: 100%;
    display: inline-block;
    line-height: 26px;
    padding-left: 10px;
    text-align: center;
    white-space: nowrap;
}

.list-item {
    height: 53px;     
    font-size: 10px;
    border-bottom: 1px solid #ddd;
}

.list-item-type {
    color: #979797;
}

i.refresh-icon {
    width: 12px;
    height: 12px;
    background-image: url("/assets/images/refresh.png");
}

i.close-icon {
    width: 11px;
    height: 10px;
    background-image: url("/assets/images/close.png");
}